<!doctype html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet"  href="/style.css" >
     <link rel="stylesheet"  href="/styleEdit.css">
    <link rel="stylesheet"  href="/stylePetition.css">
    <link rel="stylesheet"  href="/styleThanks.css">
    <link rel="stylesheet"  href="/styleSigners.css">
    <link rel="stylesheet"  href="/styleSignersCity.css">

  <link href="https://fonts.googleapis.com/css2?family=Frank+Ruhl+Libre:wght@300;500;700;900&family=Nanum+Myeongjo:wght@700;800&display=swap" rel="stylesheet"> 
    <title> Petition </title>
</head>

<body>
      
  <header>
    <nav><a href ="/profile/edit">Profile</a> <a href ="/petition">Petition</a> <a href= "/signers">Signers</a> <a href="/logout">Logout</a></nav></nav>
  
 
  </header>
 <h1>Petition to save rare words in danger of dying out!</h1>


    {{{body}}}

<!--<footer>Projects by AK (c) | 2020</footer>-->
   <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
  <script src ="/script.js"></script>  
</body>
</html>

