<div class="flexcontainer">
<h1 class="loginPage">Login</h1>

</div>
<div class ="error">{{error}}</div>
<div class="flexcontainer">

 <div class="loginRegister">
<form method="POST">
  <input type="email" name="email" placeholder = "emailadress", autocomplete="off"></input>
   <input type="password" name="password" placeholder = "password" required=“”></input>
      <input type="hidden" name="_csrf" value="{{csrfToken}}">
    <button type="submit">Login</button>
    </div>
</form>
