<h1 class="h1-login">Login</h1>
<div class ="error" id="login-error">{{error}}</div>
<form id="login-form" method="POST">
  <input type="email" name="email" placeholder = "emailadress"required=“”/>
  <input type="password" name="password" placeholder = "password" required=“”/>
  <input type="hidden" name="_csrf" value="{{csrfToken}}"/><br/>
  <button id="login-btn" type="submit">Login</button>
</form>
