 <nav>{{> logout}}</nav>

<h3 class ="noSignature">{{noSignature}}</h3>

<form method="POST">
 <div><canvas class="canv" width="500" height="150"><input class="canvasInput" type="hidden" name="signature" placeholder = "signature"></input></canvas></div>
  <input type="hidden" name="_csrf" value="{{csrfToken}}">
  <button class ="submitSignature"type="submit">Sign now</button>
</form>
