 <nav>{{> logout}}</nav>
{{> navbar}}
<h3  class ="error" id="no-signature">{{noSignature}}</h3>
<form class="signature-form" method="POST">
  <canvas width="500" height="150"><input class="canvasInput" type="hidden" name="signature" placeholder = "signature"></input></canvas><br/>
  <input type="hidden" name="_csrf" value="{{csrfToken}}">
  <button id="submit-signature"type="submit">Sign now</button>
</form>
