 <nav>{{> logout}}</nav>
<h1>Sign our petition to make Berlin a city without cars!</h1>
<h3>{{noSignature}}</h3>

<form method="POST">
 <div><canvas id = "canv" width="400" height="100"><input class="canvasInput" type="hidden" name="signature" placeholder = "signature"></input></canvas></div>
 <p>Sign Here</p>
  <input class="csurf" type="hidden" name="csurf" placeholder = "csurf"></input>
  <button type="submit">Go!</button>
</form>
