 
   <h3 class="text">Hundreds of words in all languages are teetering on the brink of extinction, they ignored, considered as old or they are already forgotten. Register now to save them!</h3>
      <div class= "error">{{error}}</div> 
<div class = "flexcontainer"> 
 
<p class ="login">If you are already a member please <a href ="/login">login here</a></p>
</div>
<form method="POST">
  <div class ="flexbox">
  <input type="text" name="firstName" placeholder = "first name", autocomplete="off"></input>
<input type="text" name="lastName" placeholder = "last name", autocomplete="off"></input>
 <input type="email" name="email" placeholder = "emailadress", autocomplete="off"></input>
    <input type="password" name="password" placeholder = "password" required=“”></input>
      <input type="hidden" name="_csrf" value="{{csrfToken}}">
   <button type="submit">Register</button>
 </div>
</form>
