<p class="thanks">Thank you for signing!</p>
{{> navbar}}
{{#rows}}
<div class ="signers"><a href ="/signers">Click here to see all {{count}} Signatories</a></div>
{{/rows}}
<img class="signature-img" src ="{{dataUrl}}"></img>
<form id="delete-form" method="POST">
  <input type="hidden" name="_csrf" value="{{csrfToken}}">
  <button id="delete-btn" type="submit">Delete</button>
</form>
