<h3>Thank you for signing!</h3>
<img class="canvas" src ="{{dataUrl}}"></img>
{{#rows}}
<div><a href ="/signers">Click here to see all {{count}} Signers</a></div>
{{/rows}}
 <input class="csurf" type="hidden" name="csurf" placeholder = "csurf"></input>
