 <nav>{{> logout}}</nav>
<h3>Thank you for signing!</h3>
<img class="canvas" src ="{{dataUrl}}"></img>
<form method="POST">
<div><button type="submit">Delete Signature</button>
   
</form>
{{#rows}}
<div><a href ="/signers">Click here to see all {{count}} Signers</a></div>
{{/rows}}

