.err a {
    font-size: 1.5rem;
    color:rgb(132, 23, 23);
    text-shadow: 1px 1px #89a886;
    margin-bottom: 1rem;
    padding: 0;
    margin: 1rem;
}
.edit{
    margin-left: 2rem;
    width: 15rem;
}

.edit1{
   margin-left: 4rem;
   width: 15rem;
}
.edit2{
    margin-left: 3.3rem;
    width: 15rem;
}
.edit3{
    margin-left: 2.7rem;
    width: 15rem;
}

form{
 font-size: 1.5rem;
}

.editButton{
    margin-top: 2rem;
    margin-left: 6rem;
}