

.err a {
    font-size: 1.5rem;
    color:rgb(132, 23, 23);
    text-shadow: 1px 1px #89a886;
    margin-bottom: 1rem;
    padding: 0;
    margin: 1rem;
}

.tellUs{
 font-size: 1.5rem;
    color: rgba(185, 170, 170, 0.562);
    text-shadow: 1px 1px rgb(132, 23, 23);
}

.edit{
    margin-left: 2rem;
    width: 15rem;
}

.edit1{
   margin-left: 4rem;
   width: 15rem;
}
.edit2{
    margin-left: 3.3rem;
    width: 15rem;
}
.edit3{
    margin-left: 2.7rem;
    width: 15rem;
}


.editButton{
    margin-top: 2rem;
    margin-left: 6rem;
}

.try div{
 color: rgb(253, 243, 243);
  font-size: 1.5rem;
}
.try{
    height: 40rem;
    margin: white;

   
   
}