

.demandSigners{
 font-size: 1.5rem;
    color: rgba(185, 170, 170, 0.562);
    text-shadow: 1px 1px rgb(132, 23, 23);
}

.container a{
      color: rgb(45, 56, 32);
      text-shadow: 1px 1px rgb(223, 161, 161);
}

.ListNames{
    color: rgb(45, 56, 32);
     text-shadow: 1px 1px rgb(223, 161, 161);
    font-size: 1.5rem
}

.container{
      margin-top: 1rem;
       
}

