* {
    box-sizing: border-box;
    margin: 0;
    color: white;
    font-family: "Sacramento", cursive;
    font-weight: bold;
}

body {
    width: 100vw;
    height: 100vh;
    background-image: url("/final.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    display: grid;
    grid-template-columns: 100vw;
    grid-template-rows: 5% 15% 15% 15% 15%;
    justify-items: center;
}

h1 {
    grid-area: 2/1;
    align-self: start;
    font-size: 5vw;
    /* text-shadow: 1px 1px rgb(223, 161, 161); */
    letter-spacing: 0.1rem;
    font-weight: lighter;
    border: 0.1rem solid white;
    margin-bottom: 1rem;
}

.text {
    font-size: 2vw;
    font-family: "Montserrat", sans-serif;
    font-weight: 900;
    grid-area: 3/1;
    align-self: center;
    width: 65vw;
    text-align: justify;
    border: 0.1rem solid white;
}

.login-info {
    grid-area: 4/1;
    align-self: center;
    width: auto;
    font-size: 3vw;
    font-weight: bold;
    text-align: center;
    height: 6vw;
}

.login a {
    color: white;
}

.error {
    font-family: "Montserrat";
    grid-area: 4/1;
    align-self: end;
    font-size: 1.5vw;
    font-weight: bold;
    color: rgb(205, 15, 15);
    height: 3vw;
    width: auto;
    letter-spacing: 0.2rem;
    border-radius: 5px;
    padding: 0.3rem;
    background-color: rgb(255, 255, 255, 0.4);
    /*border: 0.2rem solid red; */
}

input:focus,
button:focus {
    outline: 0;
}

form {
    /* border: 0.1rem solid white; */
    height: auto;
    grid-area: 5/1/6/1;
    align-self: center;
    justify-content: center;
    margin-top: 2rem;
    align-items: center;
    justify-content: center;
}

input::placeholder {
    color: white;
}

input {
    max-width: 15rem;
    color: white;
    background: transparent;
    border: 0.2rem solid white;
    border-top-style: hidden;
    border-right-style: hidden;
    border-left-style: hidden;
    border-bottom-style: solid;
    text-align: center;
    font-size: 2.5vw;
    font-family: "Montserrat", sans-serif;
    letter-spacing: -3px;
    font-weight: bolder;

    /* border-radius: 12px; */
    /* background-color: rgba(244, 247, 244, 0.3); */
}

button {
    max-height: 5rem;
    max-width: 14rem;
    color: white;
    font-size: 3vw;
    font-weight: bold;
    letter-spacing: 0.2rem;
    border: none;
    /* border: 0.1rem solid white; */
    background-color: rgba(244, 247, 244, 0.4);
    border-radius: 12px;
    margin-top: 2rem;
    border: 0.1rem solid white;
    background-color: rgba(67, 67, 69, 0.7);
    /* margin-left: 50%;
    transform: translateX(-50%); */
}

button:hover {
    background-color: rgba(244, 247, 244, 0.6);
    max-height: 5rem;
}

/*login*/

.h1-login {
    grid-area: 3/1;
}

#login-error {
    align-self: start;
}

#login-form {
    align-self: start;
    margin-top: 0;
    /* border: 0.1rem solid white; */
    display: flex;
    align-items: center;
    font-size: 2.5vw;
    font-family: "Montserrat", sans-serif;
    letter-spacing: -3px;
    font-weight: bolder;
}

#login-btn {
    margin-left: 0%;
    transform: translateX(0%);
    margin-top: 0;
    border: 0.1rem solid white;
    background-color: rgba(67, 67, 69, 0.7);
}

/*Profil after login*/

nav {
    grid-area: 1/1;
    font-size: 1.3rem;
    margin-top: 0.4rem;
}

nav a {
    color: rgb(255, 245, 245);
    font-family: "Montserrat", sans-serif;
    align-self: end;
    letter-spacing: -2px;
    /* border: 0.3rem solid white; */
}

.h1-profile {
    grid-area: 3/1;
    font-size: 4vw;
}

#profile-form {
    grid-area: 5/1;
    /* border: 0.5rem solid white; */
    align-self: end;
}

#error-profile {
    grid-area: 3/1;
    align-self: end;
    font-weight: bolder;
}

h3 {
    grid-area: 4/1;
    align-self: start;
    font-size: 2.5vw;
    font-family: "Montserrat", sans-serif;
    letter-spacing: -2px;
}

/*edit profil*/

#edit-form {
    grid-area: 4/1/8/1;
    align-self: start;
    background-color: rgba(67, 67, 69, 0.7);
    border-radius: 5px;
    padding: 0.4rem;
    border: 0.1rem solid white;
}
#edit-input input {
    border-top-style: hidden;
    border-left-style: hidden;
    border-right-style: hidden;
    border-bottom: 0.1rem solid white;
    font-size: 2.2vw;
    line-height: 35px;
}

#edit-input {
    height: 25rem;
    text-align: center;
    float: right;
    /* border: 0.5rem solid white; */
}

#edit-label {
    height: 25rem;
    float: left;
    margin-right: 0.5rem;
    /* border: 0.5rem solid white; */
}

#edit-form label {
    line-height: 40px;
    font-size: 3vw;
}

#edit-btn {
    margin-top: 0.5rem;
    align-self: end;
    /* color: rgb(67, 65, 81); */
}

.signature-form {
    grid-area: 3/1;
    align-self: start;
    justify-self: center;
    justify-items: center;
}

canvas {
    margin-top: 1rem;
    background-color: #fff;
    border-radius: 7px;
}

#submit-signature {
    margin-top: 1rem;
    width: 15rem;
    margin-left: 50%;
    transform: translateX(-50%);
    border: 0.1rem solid white;
    background-color: rgba(67, 67, 69, 0.7);
}

#no-signature {
    margin-bottom: 1rem;
    grid-area: 3/1;
    align-self: start;
}

/*thanks*/

.thanks {
    font-size: 4vw;
    grid-area: 3/1;
    justify-self: center;
}

.signature-img {
    border-radius: 7px;
    margin-top: 1rem;
    background-color: #fff;
    grid-area: 4/1;
    justify-self: center;
    align-self: start;
}

.signers a {
    padding: 0.1rem;
    font-family: "Montserrat", sans-serif;
    font-size: 1.5vw;
    letter-spacing: -2px;
}

.signers {
    height: 2.2rem;
    grid-area: 3/1;
    align-self: end;
    color: white;
}

#delete-form {
    /* border: 1rem solid white; */
    justify-items: center;
}

#delete-btn {
    grid-area: 5/1;
    justify-self: center;
    background-color: rgba(67, 67, 69, 0.7);
    border: 0.1rem solid white;
}

/*signers*/

.h2-signers-list {
    grid-area: 3/1;
    font-family: "Montserrat", sans-serif;
    font-size: 2.5vw;
    font-weight: bolder;

    /* border: 0.3rem solid white; */
}

.signers-container {
    padding: 1rem;
    grid-area: 4/1/10/1;
    display: flex;
    flex-direction: column;
    justify-content: start;
    border-radius: 7px;
    background-color: rgba(67, 67, 69, 0.7);
    border: 0.1rem solid white;
    width: auto;
}

.container a {
    margin: 1rem;
}

.single-signer {
    font-size: 3.3vw;
    margin: 0.5rem;
}
