<h1>Login</h1>

<form method="POST">
  <input type="email" name="email" placeholder = "emailadress", autocomplete="off"></input>
    <input type="password" name="password" placeholder = "password", autocomplete="off"></input>
    <div><button type="submit">Go!</button>
</form>