<h1>Login</h1>

<form method="POST">
  <p>First Name</p>
  <input type="text" name="firstName" placeholder = "first name", autocomplete="off"></input>
 <p>Last Name</p>
  <input type="text" name="lastName" placeholder = "last name", autocomplete="off"></input>
  <input type="email" name="email" placeholder = "emailadress", autocomplete="off"></input>
    <input type="password" name="password" placeholder = "password", autocomplete="off"></input>
    <div><button type="submit">Go!</button>
</form>