<h1>Sign our petition to make Berlin a city without cars!</h1>
<form method="POST">
  <input type="text" name="firstName" placeholder = "first name", autocomplete="off"></input>
  <input type="text" name="secondName" placeholder = "second name", autocomplete="off"></input>
  <input type="text" name="signature" placeholder = "signature"></input>
  <!--  <input type="hidden" name="signature" placeholder = "signature"> -->
  <button type="submit">Go!</button>
</form>
