<h2>We the undersigned demand that drriving private Cars will be forbidden in Berlin!</h2>
  {{#rows}}  
  <div class ="container">
       <p class="ListNames">{{first}} {{last}}</p>
       <div>
  {{/rows}}
</div>